In [1]:
# Libraries
import numpy as np
import pandas as pd
import re

# Importing 
champ = pd.read_csv("../data/Champions.csv")
bans = pd.read_csv("../data/bans.csv")
match = pd.read_csv("../data/matchinfo.csv")
match.drop(['redTeamTag', 'Address', 'blueTeamTag','League'], axis=1, inplace=True)
match.columns = [i.lower().replace(" ", "-")   for i in match.columns]
match.sample(4)




header_mapping = {
    'year': 'year',
    'season': 'season',
    'bresult' : 'b_res',
    'Activity' : 'activity',
    'Sex ' : 'sex',
    'Injury' : 'injury',
    'Fatal (Y/N)' : 'fatal_boolean',
    'Time' : 'time',
}
attacks = attacks.rename(columns=header_mapping)

Index(['League', 'Year', 'Season', 'Type', 'blueTeamTag', 'bResult', 'rResult',
       'redTeamTag', 'gamelength', 'blueTop', 'blueTopChamp', 'blueJungle',
       'blueJungleChamp', 'blueMiddle', 'blueMiddleChamp', 'blueADC',
       'blueADCChamp', 'blueSupport', 'blueSupportChamp', 'redTop',
       'redTopChamp', 'redJungle', 'redJungleChamp', 'redMiddle',
       'redMiddleChamp', 'redADC', 'redADCChamp', 'redSupport',
       'redSupportChamp', 'Address'],
      dtype='object')

In [3]:
match.sample(4)

,year,season,type,bresult,rresult,gamelength,bluetop,bluetopchamp,bluejungle,bluejunglechamp,...,redtop,redtopchamp,redjungle,redjunglechamp,redmiddle,redmiddlechamp,redadc,redadcchamp,redsupport,redsupportchamp
877,2017,Summer,Season,1,0,28,Looper,Kennen,Akaadian,LeeSin,...,Lourlo,Jayce,Reignover,Elise,Slooshi,Cassiopeia,Piglet,Varus,Matt,Karma
857,2017,Summer,Season,0,1,45,Flame,JarvanIV,Xmithie,Elise,...,zig,Shen,Inori,Khazix,Ryu,Ahri,Arrow,Varus,Shady,Karma
7417,2015,Summer,Promotion,1,0,37,CuVee,Maokai,Eve,Gragas,...,KaKaRot,Gnar,Shaft,Sejuani,caNdy,Xerath,LuNar,Sivir,TML,Nautilus
2078,2015,Spring,Season,0,1,37,CuVee,Lulu,Eve,RekSai,...,Smeb,Rumble,Lee,JarvanIV,Kuro,Lissandra,PraY,Corki,GorillA,Thresh

In [6]:
match.columns

Index(['year', 'season', 'type', 'bresult', 'rresult', 'gamelength', 'bluetop',
       'bluetopchamp', 'bluejungle', 'bluejunglechamp', 'bluemiddle',
       'bluemiddlechamp', 'blueadc', 'blueadcchamp', 'bluesupport',
       'bluesupportchamp', 'redtop', 'redtopchamp', 'redjungle',
       'redjunglechamp', 'redmiddle', 'redmiddlechamp', 'redadc',
       'redadcchamp', 'redsupport', 'redsupportchamp'],
      dtype='object')

In [5]:
unique_values = match['type'].unique()
print(unique_values)

['Season' 'Playoffs' 'Regional' 'International' 'Promotion']